bgColor = #F6F7F9;
textColor = #5F5F5F;

med = 1130px;
sml = 480px;

.App
  text-align center
  width 100%
  height 100%
  position relative
  .appContainer
    margin auto
    width 50%
    height 100%
    @media (max-width: sml)
      width 100%
    

.App-header
  background-color bgColor
  height 35%
  padding 20px
  color textColor
  img
    width 10em
  
.hoursNotice
  height 2em

#face {
  fill : #FFF;
  stroke-width: 2px;
  stroke: #000;
}
#hour, #min, #sec {
    fill: #333;
}
#sec {
    stroke: #f55;
}
